
.categorias{
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    display: flex;
}
.categorias div{
    flex-grow: 1;
    margin-left: 1px;
    margin-right: 1px;
    min-height: 40px;
border:2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    font-weight: bold;
    color:black;
    
}

div.activo{
    background-color: blue;
    color: white;
}
.bar-regresar{
min-height:50px;
background-color: black;
margin-bottom: 10px;
}

.listado{
    overflow-y: scroll;

   height: calc(100vh - 120px);
  
}

.foto{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.media{
    margin-bottom: 10px;
}